<style>
body{
    background-color: darkblue;
    color: white;
    text-align: center;
}
</style>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<body>
    <button style="float:right">View Zipcodes Visited</button>
    <br>
    <h1>GoMinneapolis!</h1>
<p>Software Development Capstone - Group 4 - Project 4</p>

<h1>ZipCode {{ zip_code }}</h1>

<h3 style="text-align: left !important;">Off Sale Liquor Businesses in Minneapolis</h3>
<div style="height:500px; width: 45%; overflow-y:scroll; float:left;">
    <table>
            <thead>
                <tr style="text-align:left;">
                    <th>
                        Business/Establishment Name
                    </th>
                    <th>
                        Street Address
                    </th>
                    <th>
                        Liquor Sale Type
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for key, values in liquorStos.items %}
                <tr>
                    <td>
                        {{key}}
                    </td>
                    {% for key, vals in values.items %}
                        
                        {% if key == "lat" %}
            
                        <td hidden data-info={{vals}}>
                            {{vals}}
                        </td>
                        {% elif key == "lng" %}
                        
                        <td hidden data-info={{vals}}>
                                {{vals}}
                        </td>
            
                        {% else %}  
                        <td>
                            {{vals}}
                        </td>
                        {% endif %} 
            
                    {% endfor %}
                    </td>
                    <td>
                        <button onclick="getZip($(this).closest('tr'))">Get Zip Code</button>
                    </td>        
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

<script>
    $(document).ready(function(){
       
        $("#zipCode").change(function(){
            var val = $("#zipCode option:selected").val();
            alert(val);
        });
    });

    function getZip(tr){

        var lat = $(tr).find('td').eq([3]).data("info");
        var lng = $(tr).find('td').eq([4]).data("info");

    }
</script>


